.predictedBox {
  margin: auto;
  margin-top: 2em;
  width: 50em;
  background-color: #38435a;
  color: #fff;
  .card-title {
    color: #fff !important;
  }
}

.eventBox {
  margin: auto;
  margin-top: 2em;
  width: 50em;
}
.eventItem {
  text-align: left;
  background-color: #272b2d;
}

.jsonBoxOuter {
  color: #d0d0d0;
  text-align: left;
}

.jsonBox {
}

.copyButton {
  margin-top: 2.5em;
}

.rule {
  font-weight: 550;
}

.fontWeightBold {
  font-weight: bold;
}

.eventHeaderP {
  margin: 0;
  align: left;
}

.eventHeaderTime {
  float: right;
}

.predictedTime {
  text-align: right;
  margin-bottom: .1 em;
  display: block;
}