.eventBox {
  margin: auto;
  margin-top: 2em;
  width: 50em;
}
.eventItem {
  text-align: left;
  background-color: #272b2d;
}

.jsonBoxOuter {
  color: #d0d0d0;
}

.jsonBox {
}

.copyButton {
  margin-top: 2.5em;
}
