.Grammar-editor {
  margin-top: 2em;
  padding-left: 0.8em;
}

.Grammar-editor-input-key {
  margin-right: 3em;
  border: none;
  border-bottom: 2px solid #3ccfcf;
}

.Grammar-editor-title-div {
  margin-bottom: 1em;
}

.Grammar-editor-row {
  margin-top: 1em;
}

.Grammar-editor-title-span {
  margin-right: 3em;
}

.Grammar-editor-type-group {
  margin-top: 1em;
}

.Grammar-editor-input-value {
  margin-left: 1em;
}

.Grammar-editor-add-or {
  margin-left: 1em;
}

.Grammar-editor-remove-or {
  margin-right: 1em;
}

.Grammar-editor-input-value {
  border: none;
  border-bottom: 2px solid #ffcd1f;
}

.Grammar-editor-add-row-button {
  margin-right: 2em;
  margin-bottom: 2em;
}

.Grammar-editor-change-grammar-button {
  margin-bottom: 2em;
}

.Grammar-editor-remove-row-button {
  padding: 0.10rem 0.4rem;
  margin-top: 1em;
  margin-left: 0.5em;
  font-weight: 200;
  font-size: 1.125rem;
  letter-spacing: 0.0325rem;
  line-height: 1.0;
  background-color: #3ccfff;
  color: #fff;
  border: none;
  border-radius: 0.2em;
}

.Grammar-editor-submit-button {
  padding: 0.30rem 1rem;
  margin-top: 2em;
  font-weight: 200;
  font-size: 1.125rem;
  letter-spacing: 0.0625rem;
  line-height: 1.222222222222222;
  color: #fff;
  background-color: #EF6530;
  border: none;
  border-radius: 0.2em;
}

.Grammar-editor-entered-word {
  margin-left: 0.2em;
  border: 1px solid black;
  padding: 0.1em;
}

.Grammar-editor-entered-or {
  margin-left: 0.5em;
}

input:focus {
  outline: none;
}

.Grammar-editor-remove-word {
  color: red;
}


.Grammar-editor-variable-chip {
  background-color: #ffd3b6;
  color: black;
}

.Grammar-editor-rule-chip {
  background-color: #dcedc1;
  color: black;
}
