.loginElement {
  width: 100px;
  display: block;
  margin: auto;
}

.loginText {
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 8px;
}

.loginContainer {
  display: inline-block;
  margin-top: 20px;
}

.loginError {
  color: red;
}

.loginSpinner {
  margin: auto;
}
